<!DOCTYPE html>
<html lang="en">
    
    <head>
        <% include heading %>
    </head>
    <body> 
        <header>
            <% include header-body %>
        </header> <!-- end header -->
        
        <!-- ::::::::::::::::::::: start breadcrumb:::::::::::::::::::::::::: -->
        <section class="page-title" style="background: url(images/contactus-banner.jpg) no-repeat;
                 background-size: cover;background-position: center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- breadcrumb content -->
                        <div class="page-breadcrumbd">
                            <h2>Contact Us</h2>
                        </div><!-- end breadcrumb content -->
                    </div>
                </div>
            </div>
        </section><!-- end breadcrumb -->

        <!-- ::::::::::::::::::::: start contant section :::::::::::::::::::::::::: -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                        <!-- contact title -->
                        <div class="template-title text-center">
                            <h2>Get in touch</h2>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">

                        <form class="contact-form" id="" name="contactform" action="#" method="POST">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:red;"></p>
                                    <div class="form-group">
                                        <label class="sr-only" for="name">Name</label>
                                        <input type="text" required="" name="name" class="form-control" id="name" placeholder="Your Name">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="subject">Contact No.</label>
                                <input type="text" required="" name="phone" class="form-control" id="subject" placeholder="Your Phone">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input type="email" required="" name="email" class="form-control" id="email" placeholder="Your Email">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="message">Remark</label>
                                <textarea name="message" required="" class="form-control" id="message" placeholder="Remark"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" name="submit" class="btn btn-primary input-btn"><span>Submit</span></button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <!-- company address -->
                        <div class="company-address">



                            <ul>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <h4>Factory & Postal Address</h4>
                                    <p><b>Excellent Magnetics India Pvt. Ltd.</b><br> G389, Sector 63, Noida, Uttar Pradesh, India-201301</p>
                                    <span class="divider"></span>
                                    <h4>Corporate Office</h4>
                                    <p> B- 61, Mayapuri Industrial Area,  Phase - I, New Delhi - 110 064, Delhi , India</p>

                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p><strong>+91 XXX-XXX-XXXX</strong>&nbsp;&nbsp;&nbsp;(Delhi)</p>
                                    <p><strong>+91 XXX-XXX-XXXX</strong>&nbsp;&nbsp;&nbsp;(Gurgaon)</p>
                                    <p>Fax: +91 XXX-XXX-XXXX</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <p>info@exellentmagneticesindia.com</p>
                                    <p>marketing@exellentmagneticesindia.com</p>
                                </li>
                            </ul>
                        </div><!-- ./end company address -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ::::::::::::::::::::: Footer Section:::::::::::::::::::::::::: -->
        <footer>
            <% include footer %>
        </footer>

        <!-- main jQuery -->
        <script src="assets/js/jquery-2.1.3.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/ajaxchimp.js"></script>
        <script src="assets/js/ajaxchimp-config.js"></script> 
        <script src="assets/js/script.js"></script>
    </body>

<!-- Mirrored from www.rosyelectronics.com/contact.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jul 2020 08:19:53 GMT -->
</html>