        <!-- ::::::::::::::::::::: Header Section:::::::::::::::::::::::::: -->
  
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 hidden-xs">
                            <div class="contact">
                                <p>
                                    <i class="fa fa-envelope"></i>
                                    <a href="#">mithlish@excellentmagneticsindia.com</a>
									|
									<i class="fa fa-phone"></i>
                                    +91 XXX-XXX-XXXX
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <div class="contact">
                                <div id="myCarousel1" class="carousel1 slide" data-interval="2000" data-ride="carousel"  style="padding-top:5px;">
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<a href="/"><img src="images/rosy-logo.jpg" alt="Rosy Electronics"></a>
										</div>

										<div class="item">
											<a href="http://indo-techmagnetics.com/"><img src="images/itm-logo.jpg" alt="Indo Tech"></a>
										</div>

										<div class="item">
											<a href="http://www.coils-transformerindia.com/"><img src="images/ct-logo.jpg" alt="Coils and Transformer"></a>
										</div>
										
										<div class="item">
											<a href="http://www.tropakpower.com/"><img src="images/tp-logo.jpg" alt="Tropak Power"></a>
										</div>
										
									</div>
								</div>
                            </div>
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- end top bar -->
            <nav class="navbar navbar-default navbar-sticky bootsnav">
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/"><img src="images/logo.png" class="logo logo-scrolled" alt=""></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <ul class="nav navbar-nav" data-in="" data-out="">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about/">ABOUT US</a></li>
                            <li><a href="/quality">QUALITY GUIDELINES</a></li>
                            <li><a href="/products">PRODUCTS</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Group Companies</a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="http://indo-techmagnetics.com/">Indo-Tech Magnetics</a></li>
                                    <li><a target="_blank" href="http://www.coils-transformerindia.com/">Coils & Transformer India Pvt Ltd</a></li>
                                    <li><a target="_blank" href="http://www.tropakpower.com/">Tropak Power</a></li>
                                </ul>
                            </li>
                            <li><a href="/career">CAREER</a></li>
                            <li><a href="/contact">CONTACT US</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <!-- End Navigation -->
            <div class="clearfix"></div>
        