        <!-- ::::::::::::::::::::: Header Section:::::::::::::::::::::::::: -->
        <div class="hidden-header"></div>
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 hidden-xs">
                            <div class="contact">
                                <p>
                                    <strong>AN ISO 9001:2015 CERTIFIED COMPANY</strong>
                                    <!-- <i class="fa fa-envelope"></i>
                                    <a href="#">mithlish@excellentmagneticsindia.com</a>
									|
									<i class="fa fa-phone"></i>
                                    +91 XXX-XXX-XXXX -->
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-sm-2 col-xs-12">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4">
                                    <div class="item">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </div>
                                </div>  
                                <div class="col-sm-4 col-xs-4">
                                    <div class="item">
                                        <a href="#" class="fa fa-twitter"></a>
                                    </div>
                                </div>  
                                <div class="col-sm-4 col-xs-4">
                                    <div class="item">
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                </div>  
                            </div>
                        </div> -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- end top bar -->
            <nav class="navbar navbar-default navbar-sticky bootsnav">
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/"><img src="images/logo.png" class="logo logo-scrolled" alt=""></a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-menu">

                        <ul class="nav navbar-nav" data-in="" data-out="">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/about/">ABOUT US</a></li>
                            <li><a href="/quality">QUALITY GUIDELINES</a></li>
                            <li class="dropdown">
                                <a href="/products" class="dropdown-toggle" data-toggle="dropdown" >PRODUCTS</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Common Mode</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="uu98package.html">UU9.8 Package</a></li>
                                             <li><a href="uu105-package.html">UU10.5 Package</a></li>
                                              <li><a href="uu2506-package.html">UU2506 Package</a></li>
                                               <li><a href="ee3007-package.html">EE3007 Package</a></li>
                                                <li><a href="ut20.html">UT20</a></li>
                                                 <li><a href="et24.html">ET24</a></li>
                                                  <li><a href="et28.html">ET28</a></li>
                                                   <li><a href="et35.html">ET35</a></li>
                                             
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drum Core</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="drum-core-6X8.html">Drum Core 6X8</a></li>
                                              <li><a href="drum-core-10X12.html">Drum Core 10X12</a></li>
                                                <li><a href="drum-core-12X15.html">Drum Core 12X15</a></li>
                                             
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ferrite Series</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="ferrite-series-ee13.html">Ferrite Series EE13</a></li>
                                            <li><a href="ferrite-series-ee16.html">Ferrite Series EE16</a></li>
                                            <li><a href="ferrite-series-ee20.html">Ferrite Series EE20	</a></li>
                                            <li><a href="ferrite-series-ee25.html">Ferrite Series EE25</a></li>
                                            <li><a href="ferrite-series-ei30.html">Ferrite Series EI30</a></li>
                                            <li><a href="ferrite-series-ee30.html">Ferrite Series EE30</a></li>
                                            <li><a href="ferrite-series-ei33.html">Ferrite Series EI33</a></li>
                                            <li><a href="ferrite-series-ei35.html">Ferrite Series EI35</a></li>
                                            <li><a href="ferrite-series-ei40.html">Ferrite Series EI40</a></li>
                                            <li><a href="ferrite-series-ee42.html">Ferrite Series EE42</a></li>
                                            <li><a href="ferrite-series-eer.html">Ferrite Series EER</a></li>
                                            <li><a href="ferrite-series-efd.html">Ferrite Series EFD</a></li>
                                            <li><a href="ferrite-series-efd-smd.html">Ferrite Series EFD (SMD)</a></li>
                                            <li><a href="er-series.html">ER Series</a></li>
                                            <li><a href="pq-series.html">PQ Series</a></li>
                                            <li><a href="rm-series.html">RM series</a></li>
                                            <li><a href="edr-series.html">EDR Series</a></li>
                                            <li><a href="ep-series.html">EP Series</a></li>
                             
                                        </ul>
                                    </li>
                                    <li><a href="linear-transformers.html">Red Core</a></li>
                                    <li><a href="linear-transformers.html">Linear Transformers</a></li>
                                    <li><a href="current-trnasformer.html">Current Transformers</a></li>   
                                </ul>
                            </li>
                            <li><a href="/career">CAREER</a></li>
                            <li><a href="/contact">CONTACT US</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <!-- End Navigation -->
            <div class="clearfix"></div>
        