<!DOCTYPE html>
<html lang="en">
    
    <head>
        <% include heading %>
    </head>
    <body> 
        <header>
            <% include header-body %>
        </header> <!-- end header -->

        <!-- ::::::::::::::::::::: start breadcrumb:::::::::::::::::::::::::: -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- breadcrumb content -->
                        <div class="page-breadcrumbd">
                            <h2>Quality Guidelines</h2>

                        </div><!-- end breadcrumb content -->
                    </div>
                </div>
            </div>
        </section><!-- end breadcrumb -->


        <!-- ::::::::::::::::::::: Services Section:::::::::::::::::::::::::: -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                        <!-- service title -->
                        <div class="template-title text-center">
                            <h2>Quality Guidelines</h2>
                            <p>
                                Excellent Magnetics India is dedicated to strive for customer satisfaction by adhering to their requirements and by complying to the requirements of ISO 9001:2008 and continual improvement of its Quality Management System.
                            </p>
                            <p>
                                Our quality and production team is comprised of well qualified professionals, who are dedicated to their profession with a clear motto of customer satisfaction and service. Every single product manufactured undergoes various quality tests to maintain international quality standards.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="block block2">
            <div class="container">
                <div class="row">
                    <!-- block image1 -->
                    <div class="col-md-6">
                        <div class=" text-center"  >
                            <img  src="images/foot1.png" alt="" />
                        </div>
                    </div>
                    <!-- block content -->
                    <div class="col-md-6 ">
                        <div class="block-text">
                            <h2>We follow IAF standards</h2>
                            <p>We use lead free raw material for all our products manufacturing. We use UL & RoHS approved material in order to reduce the use of hazardous substance.
                            </p>
                      </div>
                    </div>

                </div>

                <span class="divider"></span>

                <div class="row ">
                    <!-- block image -->
                    <div class="col-md-6">
                        <div class=" text-center "  >
                            <img  src="images/foot2.png" alt="" />
                        </div>
                    </div>
                    
                    <!-- block content -->
                    <div class="col-md-6 ">
                        <div class="block-text">
                            <h2>Received Quality Assurance Certificate</h2>
                            <p>We are a quality centric firm and our team of quality controllers is highly experienced. They are well-versed with the international standards of quality and ensure that our product adhere to the quality guidelines and match the expectations of our clients. They conduct stringent quality tests on our products on several pre defined parameters to adjudge them suitable or unsuitable for dispatch. The strict checks on the quality starts from the procurement of the raw material spans the final packaging stage and goes on till the products are finally delivered at the final premise.</p>
                            <p><strong>They monitor the products on the basis of certain well-defined parameters as follows:</strong></p>
                            <p>
                                <ul>
                                    <li>Frequency and Turn Ratio</li>
                                    <li>Performance and Efficiency</li>
                                    <li>Polarity and inductance</li>
                                </ul>
                            </p> 
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- block area end -->

        <!-- ::::::::::::::::::::: Footer Section:::::::::::::::::::::::::: -->
        <footer>
            <% include footer %>
        </footer>

        <!-- main jQuery -->
        <script src="assets/js/jquery-2.1.3.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/ajaxchimp.js"></script>
        <script src="assets/js/ajaxchimp-config.js"></script> 
        <script src="assets/js/script.js"></script>
    </body>

<!-- Mirrored from www.rosyelectronics.com/quality.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Jul 2020 08:19:17 GMT -->
</html>